[package]
name = "td-rs-derive"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
td-rs-base = { path = "../td-rs-base" }
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"

[dev-dependencies]
trybuild = "1.0"
rgb = "0.8.36"
