on: [push, pull_request]

name: Build

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace --exclude=python-chop
#      - uses: actions-rs/cargo@v1
#        with:
#          command: xtask
#          args: build cpu-memory-top
#      - name: Check `cargo fmt` was run
#        run: |
#          cd protocol_codegen
#          cargo fmt -- --check
